name: Build Android APK

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    
    - name: Accept Android licenses
      run: |
        mkdir -p $ANDROID_HOME/licenses
        echo "24333f8a63b6825ea9c5514f83c2829b004d1fee" > $ANDROID_HOME/licenses/android-sdk-license
        yes | sdkmanager --licenses || true
    
    - name: Install Buildozer
      run: |
        pip install buildozer cython
    
    - name: Build with Buildozer
      run: buildozer android debug
